*{
    margin:0;
    padding:0;
}
body{
    background-color: #548687;
    text-align: center;
}
.container{
    height:70vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.game{
    height:65vmin;
    width:64vmin;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:1rem;

}
.box{
    height:15vmin;
    width:15vmin;
    border-radius: 1rem;
    border:none;
    box-shadow: 0 0 1rem rgb(71, 67, 67);
    font-size:7vmin;
    color:#b0413e;
    background-color: #ffffc7;
}
#reset{
    padding:1rem;
    font-size: 1.25rem;
    background-color: black;
    color: white;
    border:none;
    border-radius: 7px;
}
#new-btn{
    padding:1rem;
    font-size: 1rem;
    background-color: black;
    color: white;
    border:none;
    border-radius: 7px;
}
#msg{
    color:#ffffc7;
    font-size: 5vmin;
}
.msg-container{
    height:15vmin;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;

}
.hide{
    display:none;
}