*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url("pics/back.jpg"); /* change path to your image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.container{
    width:100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color:rgb(73, 158, 191); */
}

.weather{
    background-color: white;
    width:400px;
    border-radius: 20px;
    gap:0.8rem;
    text-align: center;
    box-shadow: 0px 0px 10px 17px rgba(74, 69, 69, 0.079);
}

#image{
    width:200px;
    height:200px;
    object-fit:cover ;
}
.property{
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap:0.2rem;

}
#image1{
    width:50px;
    height:50px;
    object-fit:cover ;
}

.info{
    display: flex;
    flex-direction: row;
    gap:0.5rem;
    justify-content: center;
    align-items: center;
}
.size{
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  
}

.search{
    width:100%;
    background-color:lightgray;
    height:60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1.5rem;
}
#searchcity{
    width:200px;
    height:29px;
    border: none;
    border-radius: 8px;
    font-size: 1.0rem;
    
}
#clicked{
    width:70px;
    height:25px;
    border: 1px gray;
    border-radius: 8px;
    background-color: blue;
    color: aliceblue;
    cursor: pointer;
}
.heading{
    height:40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
#image2{
    width:40px;
    height:40px;
    object-fit:cover ;
}
.temp{
    display: flex;
    flex-direction: column;
    gap:0.7rem;
    height: 70px;}
.new{
    display: flex;
    justify-content: center;
    align-items: center;
}